{% extends "core/base.html" %}
{% load static %}

{% block content %}
		
		<div class="about-wrapper">
			<div class="about-us">
				<div class="info">
					<h2>Quienes somos?</h2>
					<p>Urrea Tours es una Agencia de turismo integral, centramos nuestros esfuerzos en prestar un servicio de calidad y eficiente. Coordinamos todos los servicios de un paquete turístico, como tiquetes aéreos, alojamiento, alimentación, traslados, tours, paquetes para quinceañeras, lunas de miel, turismo de aventuras, asistencias médicas, cruceros, entre otros. Igualmente gestionamos todos los servicios de viajes corporativos, convenciones, viajes de incentivos y eventos.</p>
					<p>Trabajamos con la mejor disposición para que nuestros clientes vivan experiencias memorables.</p>
				</div>
				<div class="image">
					<img src="{% static 'core/img/imagen1.jpg' %}" alt="">
				</div>
			</div>

			<div class="vision">
				<div class="image">
					<img src="{% static 'core/img/mis.jpg' %}" alt="">
				</div>
				<div class="info">
					<h2>VISIÓN</h2>
					<p>Ser la empresa preferida por las personas y la más reconocida en el ámbito turístico a nivel nacional e internacional, por la excelente confiabilidad, seguridad y calidad que se le brindará a nuestros clientes.
					</p>
				</div>
			</div>

			<div class="vision">
				
				<div class="info">
					<h2>MISIÓN</h2>
					<p>Brindar a nuestros clientes una mayor confiabilidad de nuestros servicios turísticos con gran compromiso en hacer personas felices, en dar respuestas rápidas, precisas y eficientes. Por una buena comunicación y buena atención personalizada, con el fin de superar las expectativas de nuestros clientes con experiencias únicas.
					</p>
				</div>
				<div class="image">
					<img src="{% static 'core/img/imagen2.jpg' %}" alt="">
				</div>
			</div>

			<div class="vision">
				<div class="image">
					<img src="{% static 'core/img/imagen2.jpg' %}" alt="">
				</div>
				
				<div class="info">
					<h2>Objetivo</h2>
					<p>Hacer familias y clientes felices, brindar a nuestros clientes experiencias memorables con nuestro amplio portafolio a nivel nacional e internacional, cumplir los sueños de todas las personas que quieran conocer y disfrutar culturas diferentes. Posicionar nuestra marca URREA TOURS como una de las mas confiables y preferidas por todos los viajeros.
					</p>
				</div>
				
			</div>

		</div>

{% endblock content %}