{% extends "core/base.html" %}
{% load static %}

{% block content %}

		<div class="banner-img">
			<div class="banner-overlay">
				<div class="banner-info">
					<h1 class="banner-title">{{ banner.title }}</h1>
					<p>{{ banner.subtitle }}</p>
					<a href="{{ banner.buttonlink }}" class="btn-banner">Miralos aquí</a>
				</div>
			</div>
		</div>

		<!--Post Slider-->
		<div class="post-slider">
			<h1 class="slider-title">Blog más recientes</h1>

			<i class="fas fa-chevron-left prev"></i>
			<i class="fas fa-chevron-right next"></i>

			<div class="post-wrapper">
				{% for post in posts %}
				<div class="post">
				<img src="{{ post.image.url }}" alt="" class="slider-img">
				<div class="post-info">
					<h2><a href="{% url 'blog-detail' post.id %}">{{ post.title }}</a></h2>
					<p>{{ post.content|safe|truncatewords:26 }}</p>
					<div class="inf">
						<!-- <i class="fas fa-user" style="margin-right: 20px">  {{ post.author}}</i>
						&nbsp; -->
						<i class="fas fa-calendar" style="margin-right: 5px">  {{ post.date_posted }}</i>
						&nbsp;
						<i class="fas fa-eye" style="margin-right: 5px">  {{ post.views }}</i>
					</div>
				</div>
				</div>	
				{% endfor %}

			</div>
		</div>
		<!--//Post Slider-->

		<div class="slider-package">
			<h1 class="slider-title">Paquetes más recientes</h1>
			<i class="fas fa-chevron-left previ"></i>
			<i class="fas fa-chevron-right nexti"></i>
			
			<div class="package-wrapper">
				
				{% for package in packages %}
				<div class="package">
					<img src="{{ package.image.url }}" alt="">
					<div class="package-info">
						<h1>{{ package.title|title }}</h1>
						<p>{{ package.content|truncatewords:26 }}</p>
						<a class="btn-banner" href="{% url 'package-detail' package.id %}">Enlace ir a</a>
					</div>
				</div>	
				{% endfor %}
			
			</div>
		</div>

		<div class="slider-testimonial">
			<h1 class="slider-title">Testimonios</h1>
			<i class="fas fa-chevron-left preve"></i>
			<i class="fas fa-chevron-right nexte"></i>
			<div class="testimonial-wrapper">

				{% for testimonial in testimonials %}
				<div class="testimonial">
					<p>{{ testimonial.content }}</p>
					<h3>{{ testimonial.name }}</h3>
					<div class="star">
						{% if testimonial.stars == 1 %}
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star "></span>
						<span class="fas fa-star "></span>
						<span class="fas fa-star "></span>
						<span class="fas fa-star "></span>    
						{% elif testimonial.stars == 2 %}
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star "></span>
						<span class="fas fa-star "></span>
						<span class="fas fa-star "></span> 
						{% elif testimonial.stars == 3 %}
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star "></span>
						<span class="fas fa-star "></span> 
						{% elif testimonial.stars == 4 %}
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star "></span> 
						{% elif testimonial.stars == 5 %}
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star star-active"></span>
						<span class="fas fa-star star-active"></span> 
						{% endif %}
					</div>
				</div>	
				{% endfor %}

			</div>

		</div>

		<!-- {% if messages %}
		   
		   {% for message in messages %}
		   <script>
		   	alert('{{ message }}')
		   </script>
		   {% endfor %}
		
		{% endif %} -->
{% endblock content %}