{% extends "core/base.html" %}
{% load i18n static %}

{% block content %}

<div class="login-content">
	<div class="login-wrapper recovery">
		<img class="login-logo" src="{% static 'core/img/logo.png' %}" alt="Logo brabda">
		<h1>Envio de correo completado!</h1>

		<p>Te hemos enviado un correo con las instrucciones para configurar una nueva contraseña, si una cuenta existe con el correo que ingresaste. Lo recibiras muy pronto</p>

		<p>Si no recibiste ningun correo, asegurate que ingreses el correo con el que te registraste, y verifica tu carpeta de spam</p>

	</div>
</div>

{% endblock %}