{% extends "core/base.html" %}
{% load i18n static %}

{% block content %}

<div class="login-content">
	<div class="login-wrapper recovery">
		<img class="login-logo" src="{% static 'core/img/logo.png' %}" alt="Logo brabda">
		<h1>Contraseña olvidada?</h1>
		<p>{% trans 'Olvidaste tu contraseña? Ingresa tu correo electronico abajo, y te enviaremos instrucciones para uno nuevo.' %}</p>

		<form method="POST">{% csrf_token %}
			{{ form.email.errors }}
			<label for="id_email">{% trans 'Email address:' %}</label>
			{{ form.email }}

			<input class="btn btn-form" type="submit" value="{% trans 'Reset my password' %}">

		</form>
	</div>
</div>

{% endblock %}